<!doctype html>
<!-- 
	Doing C3js with a time based graphic, also check the new style of adding data points.
 -->
<html ng-app="graphApp">
<head>
	<meta charset="utf-8">

	<link href="assets/css/c3.min.css" rel="stylesheet" type="text/css">
</head>
<body ng-controller="GraphCtrl" ng-init="showGraph()">
	<p>After pushing the button a few new data points will be loaded.</p>
	<button ng-click="startLoading()">Start loading</button>
	<button ng-click="stopLoading()">Stop loading</button>
	<div id="chart"></div>

	<!-- Load the javascript libraries -->
	<script src="assets/js/d3.min.js" charset="utf-8"></script>
	<script src="assets/js/c3.min.js"></script>
	<script src="assets/js/angular.min.js"></script>
	<script src="js/graph-app-4.js"></script>
</body>
</html>
